/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-background-dark: #313131;
  --color-background-mute: var(--vt-c-white-mute);
  --section-gap: 160px;
  --font-family-main: 'Georgia', 'Times New Roman', serif;
  --font-family-cyrillic: 'Georgia', 'Times New Roman', serif;
}

:root {
  --content-width: 440px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  @apply bg-white text-black;
  width: 100vw;
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family-cyrillic);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
}
