@import 'tailwindcss';
@import './base.css';

:root {
  --content-width: 440px;
}

#app {
  width: 100vw;
  margin: 0 auto;
  font-weight: normal;
  max-width: var(--content-width);
  display: flex;
  flex-direction: column;
}

html {
  font-family: var(--font-family-cyrillic);
}

html,
body {
  @apply overflow-x-hidden max-w-full;
}

h1,
h2 {
  @apply text-4xl uppercase text-center;
  font-family: var(--font-family-cyrillic);
}

h2 {
  @apply pt-8;
}

h3 {
  @apply text-2xl uppercase text-center;
  font-family: var(--font-family-cyrillic);
}

h4 {
  @apply text-xl;
  font-family: var(--font-family-cyrillic);
}

p {
  @apply text-center px-1 text-base;
  font-family: var(--font-family-cyrillic);
}

button {
  @apply bg-neutral-950 text-white flex items-center justify-center gap-2 p-2 w-full uppercase cursor-pointer;
  font-family: var(--font-family-cyrillic);
}

input,
label {
  font-family: var(--font-family-cyrillic);
}

.latin-text {
  font-family: var(--font-family-main);
}

.border-break {
  position: relative;
}

.border-break:before {
  content: '';
  display: block;
  width: 100%;
  height: 24px;
  background-color: white;
  position: absolute;
  top: -24px;
  left: 0;
  z-index: 1;
}
